/* the animation code */





/* Styling the image icon */




/* the element to apply he animation */
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animatedSquare;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}